.left__bar {
    background-color: rgb(228, 226, 230);
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 5;

    
}

.left__bar_toggle {
    background-color: rgb(228, 226, 230);
    width: -300px;
    height: 100vh;
    position: fixed;
    z-index: 5;
}

.fa-solid {
    font-size: 2rem;
    position: fixed;
    left: 260px;
    top: 60px;
    z-index: 999999;
    cursor: pointer;
}

.logo__section {
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 3%;
}

.logo__section_toggle {
    display: none;
}

.logo__section p {
    text-transform: capitalize;
}

.logo{
    width: 140px;
    position: relative;
    left: 15%;
    top: -10px;
}

.logo__letters {
    width: 180px;
}

.menu__section {
    display: grid;
    position: relative;
    top: 10%;
    left: 24%;
}


.menu__section h1 {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: rgb(78, 77, 77);

}

.menu__section a {
    text-transform: capitalize;
    text-decoration: none;
    color: gray;
}

.menu__section a:hover {
    transition: .5s;
    color: rgb(24, 23, 23);
}

/* Toggle  */

.menu__section__toggle {
    display: grid;
    position: relative;
    top: 10%;
    left: 24%;
    display: none;
}

.menu__section__toggle h1 {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: rgb(78, 77, 77);

}

.menu__section__toggle a {
    text-transform: capitalize;
    text-decoration: none;
    color: gray;
}

.menu__section__toggle a:hover {
    transition: .5s;
    color: rgb(24, 23, 23);
}
