@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-default: "Montserrat", sans-serif;
$background-default-color: #f5f5f5;
$background-default-color2: rgb(228, 226, 230);
$shadown-default-dark: 10px 10px 30px rgba(0, 0, 0, 0.151);
$shadown-default-light: 10px 10px 30px rgb(78, 77, 77);
$btn-default-color: #808080;
